{% extends "base.html" %}
{% block content %}

<script>

</script>

  {% if request.user.is_authenticated %}
  <h1>Chatroom {{ request.user }}</h1>

  <div style="display: flex;  flex-direction: column" id="messageContainer">
    {% for message in messages %}
        <div>
          <span class="grey-color">[{{ message.created_at }}]</span> 
          {{ message.author.first_name }}: <i>{{ message.text }}</i> 
        </div>
        <div>
          <i class="material-icons">done</i>
          <i class="material-icons">done</i>
        </div>
    {% endfor %}
  </div>

  <form onsubmit="sendMessage(); return false;" method="post">
      {% csrf_token %}
      <input type="hidden" name="userName" value="{{ request.user.first_name }}">
      <div id="messageDiv" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="messageField">Message from {{ request.user.first_name }}</label>
        <input class="mdl-textfield__input" type="text" id="messageField" name="textmessage" onkeyup="enableSendBtn()" maxlength="500">
      </div>
      <button id='sendBtn' disabled class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send
      </button>
  </form>

  

  {% else %}
    <h1>Not logged in</h1>
    <p>
      You are currently not logged in. Please log in. <br>
      Please click <a href="/login/">here</a>.

    </p>
  {% endif %}
{% endblock %}