{% extends "base.html" %}
{% block content %}

  {% if request.user.is_authenticated %}
  <h1>Chatroom {{ request.user }}</h1>

  <div id="messageContainer">
    {% for message in messages %}
        <div style="position: relative;">
          <span class="grey-color">[{{ message.created_at }}]</span> 
          {{ message.author.first_name }}: <i>{{ message.text }}</i> 
          <i class="material-icons" 
            style="color: green; font-size: 14px; margin-right: -13px; position: absolute; bottom: 0px;">done</i>
          <i class="material-icons" 
            style="color: green; font-size: 14px; margin-left: 4px; position: absolute; bottom: 0px;">done</i>
        </div>
    {% endfor %}
  </div>

  <form onsubmit="sendMessage(); return false;" method="post">
      {% csrf_token %}
      <input type="hidden" name="userName" value="{{ request.user.first_name }}">
      <div id="messageDiv" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="messageField">Your Message</label>
        <input class="mdl-textfield__input" type="text" id="messageField" name="textmessage" onkeyup="enableSendBtn()" maxlength="500">
      </div>
      <button id='sendBtn' disabled class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
        <i class="material-icons">send</i>
      </button>
  </form>

  
  {% else %}
    <h1>Not logged in</h1>
    <p>
      You are currently not logged in. Please log in. <br>
      Please click <a href="/login/">here</a>.

    </p>
  {% endif %}
{% endblock %}