<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatroom</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
          <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                {% if request.user.is_authenticated %}
                    <span class="mdl-layout-title">
                        DjChat
                    </span>

                    <div class="mdl-layout-spacer">
                      <a href="/logout/">
                        <button class="mdl-button mdl-js-button mdl-button--raised" style="color: white;">
                          Logout
                        </button>
                      </a>
                    </div>
                {% else %}
                    <span class="mdl-layout-title">
                        Welcome! Please log in...
                    </span>

                    <div class="mdl-layout-spacer">
                      <a href="/login/">
                        <button class="mdl-button mdl-js-button mdl-button--raised" style="color: white;">
                          Login
                        </button>
                      </a>
                    </div>
                {% endif %}
            </div>
          </header>
      
          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Chatroom</span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
            </nav>
          </div>
      
        <main class="mdl-layout__content">        
            <div class="page-content">
                {% block content %} {% endblock %}
            </div>
        </main>
      </div>
  </body>
</html>
