<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DjChat</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css" />
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.PNG' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>

  <body onload="requiredInputColor()">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
          <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    DjChat from {{ request.user.username }}
                </span>

                {% if request.user.is_authenticated %}
                <div class="mdl-layout-spacer">
                  <a href="/logout/">
                    <button class="mdl-button mdl-js-button mdl-button--raised" style="color: white;">
                      Logout
                    </button>
                  </a>
                </div>
                {% else %}
                  <div class="mdl-layout-spacer">
                    <a href="/login/">
                      <button class="mdl-button mdl-js-button mdl-button--raised" style="color: white;">
                        Login
                      </button>
                    </a>
                  </div>
                {% endif %}
            </div>
          </header>
      
          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title" style="text-align: center; padding-left: 0">Chatroom</span>
            <nav class="mdl-navigation">
              {% if request.user.is_authenticated %}
              {% csrf_token %}
                {% for data in baseListData %}
                <div>
                  <a class="mdl-navigation__link" style="text-align: center; position: relative" href="{% url 'chatroom' data.name %}">
                    {{ data.name }}
                    <span class="mdl-badge" data-badge="{{data.messagesLength}}"></span>
                  </a>
                </div>
                {% endfor %}

                {% if user.is_superuser %}
                  <a style="position: absolute; bottom: 80px; left: 80px" href="/admin/">
                    <button style="width: 90px;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                      Admin
                    </button>
                  </a>
                {% else %} {% endif %}
                  <a style="position: absolute; bottom: 30px; left: 80px" href="/logout/">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                      Logout
                    </button>
                  </a>
                  
                </button>
                

              {% else %}
                <a class="mdl-navigation__link" href="/register/">Register</a>
                <a class="mdl-navigation__link" href="/login/">Login</a>
              {% endif %}
            </nav>
          </div>
      
        <main class="mdl-layout__content">        
            <div class="page-content">
                {% block content %} {% endblock %}
            </div>
        </main>
      </div>
  </body>
</html>
