body {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: block;
  width: 12px;
  height: 10px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: green;
}

*::-webkit-scrollbar-track-piece {
  background-color: green;
}

*::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 24px;
}

.login-register-container, .chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

a {
  text-decoration: none;
}

.grey-color {
  color: rgba(0, 0, 0, 0.4);
}

.mdl-layout-spacer {
  display: flex;
  justify-content: flex-end;
}

input[required] {
  color: green;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  color: green;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
  border-color: green;
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
  background-color: green;
}

.register-error-box {
  color: red;
  max-height: 100px;
  overflow-y: auto;
}

#chatContainer {
  width: 50vw;
  
}

#sendBtnBox {
  display: flex;
  justify-content: center;
}

.message-span {
  padding: 8px;
  border: 2px solid green;
  background: #0080002b;
  padding-right: 24px;
  border-radius: 14px;
}

#messageContainer {
  max-height: 70vh;
  overflow-y: auto;
  overflow-anchor: auto;
}