body {
  box-sizing: border-box;
}

.login-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

a {
  text-decoration: none;
}

.grey-color {
  color: rgba(0, 0, 0, 0.4);
}

.mdl-layout-spacer {
  display: flex;
  justify-content: flex-end;
}

input[required] {
  color: green;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  color: green;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
  border-color: green;
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
  background-color: green;
}

.register-error-box {
  color: red;
  max-height: 100px;
  overflow-y: auto;
}