.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.grey-color {
  color: rgba(0, 0, 0, 0.4);
}

.mdl-layout-spacer {
  display: flex;
  justify-content: flex-end;
}