{% extends "base.html" %}
{% block content %}
    <div class="login-register-container">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="padding: 16px 16px 4px 16px">
            <div style="display: flex; padding-top: 16px; justify-content: center;">
                <h2 class="mdl-card__title-text">Login</h2>
            </div>

            <div class="mdl-card__supporting-text">
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" name="username" type="text" id="username" required>
                        <label class="mdl-textfield__label" for="username">Username</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" name="password" type="password" id="password" required>
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>

                    {% if wrong_password %}
                        <p style="color: red;">Username or Password is wrong</p>
                    {% endif %}
            
                    <div style="text-align: center;">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Login
                        </button>
                    </div>
                </form>
            </div>

            <div class="mdl-card__actions mdl-card--border" style="text-align: center; margin-top: 12px;">
                Don't have an account? <a href="/register/">Sign Up</a>
            </div>
        </div>
    </div>  
{% endblock %}